html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #3f3c3c;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #000;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  color: silver;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.article-styles {
  margin: 30px auto 20px auto;
}

.mixer {
  position: fixed;
  top: 0;
  background-color: #323232;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  border-radius: 6px;
  padding: 20px;
  z-index: 5;
}

.mixer .logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mixer .logo-group .logo {
  margin: 0 10px;
}

.mixer .logo-group marquee {
  font-size: 32px;
  font-family: "VT323", monospace;
  border-radius: 4px;
  border: 2px solid silver;
  background-color: #adff2f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* BUTTONS START*/
.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  background: #252525;
  border: 6px solid #252525;
  border-bottom-color: #4b4b4b;
  border-radius: 8px;
}

.button-wrapper::before, .button-wrapper::after {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  width: 6px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #252525), to(#4b4b4b));
  background: linear-gradient(to bottom, #252525 70%, #4b4b4b 100%);
  z-index: 1;
}

.button-wrapper::before {
  left: -6px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-wrapper::after {
  right: -6px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button-wrapper #orderBtn {
  color: rgba(185, 32, 32, 0.712);
}

.button-wrapper #orderBtn:hover {
  color: #f70909;
}

.button-wrapper .active-order-btn {
  color: #f70909;
  text-shadow: 0 0 5px #f70909;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  background: #2d2d2d;
  z-index: 3;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.03);
  border-bottom: 6px solid rgba(37, 38, 41, 0.8);
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.button-wrapper .active-order-btn:hover {
  color: #f70909;
}

.button-wrapper .button {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 120px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#2d2d2d));
  background: linear-gradient(to bottom, #323232, #2d2d2d);
  border: 2px solid rgba(255, 255, 255, 0.03);
  border-bottom: 6px solid rgba(37, 38, 41, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.button-wrapper .button .shadow-right,
.button-wrapper .button .shadow-left {
  position: absolute;
  top: 0;
  left: -8px;
  bottom: 0;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(50, 50, 50, 0)), color-stop(50%, rgba(33, 201, 255, 0.4)), color-stop(85%, rgba(50, 50, 50, 0)));
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 15%, rgba(33, 201, 255, 0.4) 50%, rgba(50, 50, 50, 0) 85%);
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.button-wrapper .button .shadow-right {
  left: auto;
  right: -8px;
}

.button-wrapper .button::before, .button-wrapper .button::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.button-wrapper .button::before {
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, rgba(50, 50, 50, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(82%, rgba(50, 50, 50, 0)));
  background: linear-gradient(to right, rgba(50, 50, 50, 0) 18%, rgba(255, 255, 255, 0.5) 50%, rgba(50, 50, 50, 0) 82%);
}

.button-wrapper .button::after {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, rgba(50, 50, 50, 0)), color-stop(50%, rgba(33, 201, 255, 0.5)), color-stop(91%, rgba(50, 50, 50, 0)));
  background: linear-gradient(to right, rgba(50, 50, 50, 0) 9%, rgba(33, 201, 255, 0.5) 50%, rgba(50, 50, 50, 0) 91%);
}

.button-wrapper .button:hover {
  color: #21c9ff;
}

.active-btn {
  color: #21c9ff;
  text-shadow: 0 0 5px #21c9ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  background: #2d2d2d;
  z-index: 3;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.03);
  border-bottom: 6px solid rgba(37, 38, 41, 0.8);
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.active-btn .shadow-right,
.active-btn .shadow-left {
  position: absolute;
  top: 0;
  left: -8px;
  bottom: 0;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(50, 50, 50, 0)), color-stop(50%, rgba(33, 201, 255, 0.4)), color-stop(85%, rgba(50, 50, 50, 0)));
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 15%, rgba(33, 201, 255, 0.4) 50%, rgba(50, 50, 50, 0) 85%);
  opacity: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.active-btn .shadow-right {
  left: auto;
  right: -8px;
}

/* BUTTONS END */
/* INTRO START */
.intro {
  z-index: -1;
  height: 100vh;
  background: center/cover no-repeat url(../img/mixer-dark-min.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: silver;
}

.intro__title {
  font-size: 8rem;
  margin-bottom: 50px;
}

.intro__info {
  font-size: 4rem;
}

/* INTRO END */
/* STUDIO START*/
#studio .studio__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

#studio .studio__content .studio__photo {
  height: 330px;
  width: 100%;
  width: 100%;
  border-radius: 6px;
  box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
}

#studio .studio__content #photo-studio-1 {
  background: center/cover url(../img/IMG-3400-min.JPG);
}

#studio .studio__content #photo-studio-2 {
  background: center/cover url(../img/IMG-3406-min.JPG);
}

/* STUDIO END */
/* GALLERY START */
#gallery p {
  text-align: center;
  margin-bottom: 20px;
}

#gallery .gallery__content .carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  border-radius: 6px;
  box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#gallery .gallery__content .carousel-container #prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: #000;
}

#gallery .gallery__content .carousel-container #prevBtn:hover {
  opacity: 1;
}

#gallery .gallery__content .carousel-container #nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: #000;
}

#gallery .gallery__content .carousel-container #nextBtn:hover {
  opacity: 1;
}

#gallery .gallery__content .carousel-container .carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

#gallery .gallery__content .carousel-container .carousel-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*ORDER POPUP START*/
#orderPopUp {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100% - 70px);
  width: 100%;
  background: #323232;
}

/*ORDER POPUP END*/
/* FOOTER START */
footer#footer {
  color: silver;
  background-color: #323232;
}

footer#footer .footer__content {
  width: 70%;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

footer#footer .footer__content .contacts {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#footer .footer__content .contacts .contacts__media h3 {
  margin-bottom: 20px;
}

footer#footer .footer__content .contacts .contacts__media .media-links {
  color: silver;
}

footer#footer .footer__content .contacts .contacts__media .media-links a {
  color: silver;
  text-decoration: none;
  margin-right: 10px;
}

footer#footer .footer__content .contacts .contacts__media .media-links a:last-child {
  margin-right: 0;
}

footer#footer .footer__content .contacts .contacts__media .media-links a:visited {
  color: silver;
}

footer#footer .footer__content .contacts .contacts__media .media-links a i:hover {
  color: black;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

footer#footer .footer__content .contacts .contacts__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer#footer .footer__content .contacts .contacts__other div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

footer#footer .footer__content .contacts .contacts__other div i {
  margin-right: 15px;
}

.all-rights {
  text-align: center;
  padding: 20px;
}
