html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // background-color: #8194a6;
  // background-color: #95a5a6;
  background: rgb(63, 60, 60);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  // color: silver;
  color: #000;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  // font-family: 'Open Sans', sans-serif;
  color: silver;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.article-styles {
  margin: 30px auto 20px auto;
}

.mixer {
  position: fixed;
  top: 0;
  background-color: #323232;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-radius: 6px;
  padding: 20px;
  z-index: 5;
}

.logo {
  margin-left: 10px;
}

marquee {
  font-size: 32px;
  font-family: "VT323", monospace;
  border-radius: 4px;
  border: 2px solid silver;
  background-color: #adff2f;
  user-select: none;
}

/* BUTTONS START*/

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  // margin: 150px;
  background: #252525;
  border: 6px solid #252525;
  border-bottom-color: #4b4b4b;
  border-radius: 8px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    bottom: -6px;
    width: 6px;
    background: linear-gradient(to bottom, #252525 70%, #4b4b4b 100%);
    z-index: 1;
  }
  &::before {
    left: -6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &::after {
    right: -6px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .button {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 120px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    background: linear-gradient(to bottom, #323232, #2d2d2d);
    border: 2px solid rgba(white, 0.03);
    border-bottom: 6px solid rgba(#252629, 0.8);
    border-radius: 4px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: monospace;
    font-size: 20px;
    transition: all 0.25s;

    .shadow-right,
    .shadow-left {
      position: absolute;
      top: 0;
      left: -8px;
      bottom: 0;
      width: 2px;
      background: linear-gradient(
        to bottom,
        rgba(50, 50, 50, 0) 15%,
        rgba(#21c9ff, 0.4) 50%,
        rgba(50, 50, 50, 0) 85%
      );
      opacity: 0;
      transition: all 0.25s;
    }
    .shadow-right {
      left: auto;
      right: -8px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all 0.25s;
    }
    &::before {
      top: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background: linear-gradient(
        to right,
        rgba(50, 50, 50, 0) 18%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(50, 50, 50, 0) 82%
      );
    }
    &::after {
      opacity: 0;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 5px;
      background: linear-gradient(
        to right,
        rgba(50, 50, 50, 0) 9%,
        rgba(#21c9ff, 0.5) 50%,
        rgba(50, 50, 50, 0) 91%
      );
    }
    &:hover {
      color: #21c9ff;
    }
  }
}

.active-btn {
  color: #21c9ff;
  text-shadow: 0 0 5px #21c9ff;
  box-shadow: none;
  border-color: transparent;
  background: #2d2d2d;
  z-index: 3;

  //
  display: inline-block;
  position: relative;
  // z-index: 2;
  width: 120px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  // background: linear-gradient(to bottom, #323232, #2d2d2d);
  border: 2px solid rgba(white, 0.03);
  border-bottom: 6px solid rgba(#252629, 0.8);
  border-radius: 4px;
  // box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  transition: all 0.25s;
  //
  .shadow-right,
  .shadow-left {
    position: absolute;
    top: 0;
    left: -8px;
    bottom: 0;
    width: 2px;
    background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0) 15%,
      rgba(#21c9ff, 0.4) 50%,
      rgba(50, 50, 50, 0) 85%
    );
    opacity: 1;
    transition: all 0.25s;
  }
  .shadow-right {
    left: auto;
    right: -8px;
  }
}

/* BUTTONS END */

/* INTRO START */

.intro {
  z-index: -1;
  height: 100vh;
  background: center / cover no-repeat url(../img/mixer-dark-min.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: silver;
  &__title {
    font-size: 8rem;
  }
  &__info {
    font-size: 4rem;
  }
}

/* INTRO END */

/* STUDIO START*/

#studio {
  .studio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    .studio__photo {
      height: 330px;
      width: 100%;
      width: 100%;
      border-radius: 6px;
      box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
    }
    #photo-studio-1 {
      background: center / cover url(../img/IMG-3400-min.JPG);
    }
    #photo-studio-2 {
      background: center / cover url(../img/IMG-3406-min.JPG);
    }
  }
}

/* STUDIO END */

/* GALLERY START */

#gallery {
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery__content {
    .carousel-container {
      position: relative;
      width: 80%;
      margin: auto;
      border-radius: 6px;
      box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      #prevBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 5%;
        font-size: 30px;
        color: silver;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
      #nextBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        right: 5%;
        font-size: 30px;
        color: silver;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
      .carousel-slide {
        display: flex;
        height: 600px;
        img {
          object-fit: cover;
        }
      }
    }
  }
}

/* FOOTER START */

#footer {
  color: silver;
  background-color: #323232;
  .footer__content {
    .contacts {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .contacts-media {
        .media-links {
          color: silver;
          font-size: 32px;
          a {
            outline: none;
            text-decoration: none;
            color: silver;
            &:link {
              color: silver;
              outline: none;
              text-decoration: none;
              &:visited {
                color: silver;
                outline: none;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
.all-rights {
  text-align: center;
  padding: 20px;
}
